/* determines the size of the popup */
body
{
	min-height: 25px;
	width: 532px;
	background-color: #5200FF;
}

/* top half */

#textFieldsContainer
{
	float: left;
	height: 90px;
	width: 200px;
	display: block;
}

#customTitleField
{
	float: left;
	height: 40px;
	width: 200px;
    padding: 12px 20px 12px 15px;
    box-sizing: border-box;
    border: 3px solid #000000;
    transition: 0.3s;
	outline: none;
	margin: 5px 8px 6px 8px;
	font-size: 20px;
	text-align: left;
}

#customTitleField:focus
{
	background-color: lightblue;
}

#sortTabsTextField
{
	float: left;
	height: 40px;
	width: 200px;
	padding: 12px 15px 12px 15px;
    box-sizing: border-box;
	transition: 0.3s;
	outline: none;
	margin: 0px 5px 6px 8px;
	font-size: 20px;
	text-align: left;
}

#sortTabsTextField:focus
{
	background-color: lightblue;
}

#allTabsTextField
{
	float: left;
	height: 40px;
	width: 200px;
	padding: 12px 15px 12px 15px;
	box-sizing: border-box;
	border: 3px solid #000000;
	transition: 0.3s;
	outline: none;
	margin: 0px 5px 6px 8px;
	font-size: 20px;
	text-align: left;
}

#allTabsTextField:focus
{
	background-color: lightblue;
}

#sortArea
{
	float: right;
	height: 135px;
	width: 312px;
	margin: 0px 0px 7px 0px;

	background-color: #00ADFF;
	border-style: outset;
}

.sortButton
{
	padding: 0px 10px 15px 10px;
	margin: 2px 3px 5px 6px;
	display: inline-block;
	height: 39px;
	width: 39px;
	border-radius: 75%;
}

#redButton
{
	/* creates equal distance from sides of sort area border as purple button */
	margin: 0px 3px 5px 8px;
	background-color: #FF0000;
}

#greenButton
{
	background-color: #00FF00;
}

#blueButton
{
	background-color: #0000FF;
}

#yellowButton
{
	background-color: #FFE303;
}

#orangeButton
{
	background-color: #FFA500;
}

#purpleButton
{
	background-color: #A020F0;
}

/* select */
#selectMenu
{
	width: 150px;
	padding: 0px 0px 0px 5px;
	margin: 6px 0px 0px 35px;
	font-size: 20px;
	height: 34px;
}

/* select dropdowns */
.menu1
{
	border-width: 3px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 5px;
	background-color: #FF0000;
}

.menu2
{
	border-width: 3px;
	border-style: solid;
	border-color: #00FF00;
	border-radius: 5px;
	background-color: #00FF00;
}

.menu3
{
	border-width: 3px;
	border-style: solid;
	border-color: #0000FF;
	border-radius: 5px;
	background-color: #0000FF;
}

.menu4
{
	border-width: 3px;
	border-style: solid;
	border-color: #FFE303;
	border-radius: 5px;
	background-color: #FFE303;
}

.menu5
{
	border-width: 3px;
	border-style: solid;
	border-color: #FFA500;
	border-radius: 5px;
	background-color: #FFA500;
}

.menu6
{
	border-width: 3px;
	border-style: solid;
	border-color: #A020F0;
	border-radius: 5px;
	background-color: #A020F0;
}

#selectMenuTrashButton
{
	float: right;
	height: 35px;
	width: 35px;
	border: none;
	margin: 5px 40px 0px 0px;
	font-size: 30px;
	/* default color is red since select menu's default selection is red */
	background-color: #FF0000;

	/* float: center;
	height: 40px;
	width: 40px;
	border: none;
	margin: 7px 8px 7px 30px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px; */
}

#ACTIVITYTAB
{
	font-size: 30px;
	font-weight: bold;
	margin: 5px 0px 0px 60px;
}

/* bottom half */

#buttonArea
{
	background-color: #00bbd1;
}

/* gives appearance that button is popping out of popup */
button:hover
{
	transform: scale3d(1.03, 1.03, 1.03);
	color: #000000;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition: 0.2s;
}

.button
{
	border: none;
    background-color: lightblue;
	text-decoration: none;
	/* makes buttons be on one line */
    display: inline-block;
}

/* tabs button */
#groupButton
{
	float: left;
	height: 40px;
	width: 300px;
	border: none;
	margin: 7px 8px 7px 8px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}

/* window button */
#windowButton
{
	float: left;
	height: 40px;
	width: 60px;
	border: none;
	margin: 7px 8px 7px 30px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}

.fa-external-link
{
	float: center;
	border: none;
	margin: 7px 8px 7px 30px;
	border-radius: 4px;
	padding: 5px 10px 0px 10px;
}

/* trash button */
#trashButton
{
	float: center;
	height: 40px;
	width: 40px;
	border: none;
	margin: 7px 8px 7px 30px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}

.fa-trash
{
	float: center;
	border: none;
	margin: 7px 8px 7px 30px;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}