/* determines the size of the popup */
body
{
	min-height: 25px;
	width: 532px;
}

/* top half */

#topHalf
{
	background-color: green;   /* not working? */
}

#textFieldsContainer
{
	float: left;
	height: 90px;
	width: 200px;
	display: block;
	margin: 0px 16px 0px 0px;
}

#customTitleField
{
	float: left;
	height: 40px;
	width: 200px;
    padding: 12px 20px 12px 15px;
    box-sizing: border-box;
    border: 3px solid #000000;
    transition: 0.3s;
	outline: none;
	margin: 0px 8px 10px 8px;
	font-size: 20px;
	text-align: left;
}

#customTitleField:focus
{
	background-color: lightblue;
}

#sortTabsTextField
{
	float: left;
	height: 40px;
	width: 200px;
	padding: 12px 15px 12px 15px;
    box-sizing: border-box;
	transition: 0.3s;
	outline: none;
	margin: 0px 8px 10px 8px;
	font-size: 20px;
	text-align: left;
}

#sortTabsTextField:focus
{
	background-color: lightblue;
}

#sortArea
{
	float: right;
	height: 85px;
	width: 285px;
	margin: 0px 7px 5px 0px;

	background-color: #a9a9a9;
	border-style: outset;
	padding: 0px 0px 0px 5px;
}

.sortButton
{
	padding: 15px 15px 15px 15px;
	margin: 5px 5px 5px 5px;
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 75%;
}

#redButton
{
	background-color: #FF0000;
}

#greenButton
{
	background-color: #00FF00;
}

#blueButton
{
	background-color: #0000FF;
}

#yellowButton
{
	background-color: #FFFF00;
}

#orangeButton
{
	background-color: #FFA500;
}

#purpleButton
{
	background-color: #A020F0;
}

/* select */
#mySelect
{
	width: 150px;
	padding: 0px 0px 0px 5px;
	margin: 5px 0px 0px 35px;
	font-size: 20px;
}

.menu1
{
	border-width: 3px;
	border-style: solid;
	border-color: #FF0000;
	border-radius: 5px;
	background-color: #FF0000;
}

.menu2
{
	border-width: 3px;
	border-style: solid;
	border-color:#00FF00;
	border-radius: 5px;
	background-color: #00FF00;
}

.menu3
{
	border-width: 3px;
	border-style: solid;
	border-color:#0000FF;
	border-radius: 5px;
	background-color: #0000FF;
}

.menu4
{
	border-width: 3px;
	border-style: solid;
	border-color:#FFFF00;
	border-radius: 5px;
	background-color: #FFFF00;
}

.menu5
{
	border-width: 3px;
	border-style: solid;
	border-color:#FFA500;
	border-radius: 5px;
	background-color: #FFA500;
}

.menu6
{
	border-width: 3px;
	border-style: solid;
	border-color: #A020F0;
	border-radius: 5px;
	background-color: #A020F0;
}

#selectTrashButton
{
	float: right;
	height: 30px;
	width: 30px;
	border: none;
	margin: 5px 40px 0px 0px;
	font-size: 20px;
}

/* bottom half */

#buttonArea
{
	background-color: pink;
}

/* gives appearance that button is popping out of popup */
button:hover
{
	transform: scale3d(1.03, 1.03, 1.03);
	color: #000000;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition: 0.2s;
}

.button
{
	border: none;
    background-color: lightblue;
    text-decoration: none;
    display: inline-block;   /* makes buttons be on one line */
}

/* tabs button */
#groupButton
{
	float: left;
	height: 40px;
	width: 300px;
	border: none;
	margin: 7px 8px 7px 8px;   /* top right bottom left */
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}

#windowButton
{
	float: left;
	height: 40px;
	width: 60px; /* 80 */
	border: none;
	margin: 7px 8px 7px 30px;   /* top right bottom left: 30 */
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}

/* trash button */
#trashButton
{
	float: center;
	height: 40px;
	width: 40px;
	border: none;
	margin: 7px 8px 7px 30px;   /* top right bottom left */
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
}